* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
}

html {
    font-size: 10pt;
    line-height: 1.4;
    font-weight: 400;
    font-family: 'Source Sans Pro', 'Open Sans', Roboto, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Myriad Pro', 'Segoe UI', Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #eee;
}


html {
    overflow-x: hidden
}

a {
    outline: none;
    text-decoration: none;
}

header {
    background: #fff;
    width: 100%;
    padding: 1em;
    transition: opacity .2s ease-in-out;
    text-align: center;
}

h1 {
    font-weight: 600;
    margin: 0;
    padding: 0;
    font-size: 150%;
    color: #272727;
}

.logo a {
    font-weight: bold;
    color: #868686;
    font-size: 120%;
}

.action__add a {
    opacity: .7;
    padding: 0 .5em;
    color: black;
    float: right;
    line-height: 1.6;

}

.action__add a:hover,
.action__add a:focus {
    opacity: 1;
}

.logo, .action__add {
    display: inline;
}

#projects {
}

#projects h1 {
    margin-top: 15px;
    margin-left: 15px;
}

.project__list {

    padding: 0;
}

.project__list li {
    /*cursor: move;*/
    list-style-type: none;
    width: 30%;
    float: left;
    margin: 15px;
}

.project__list .card:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.project__list .add_project {
    height: 135px;
    cursor: pointer;
}

.project__list .card .add_project_title {
    margin: 0;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    color: #cecece;
    font-weight: bold;

}

.project__list .card .add_project_title i {
    font-size: 100%;
    font-weight: bold;
}

.project__list .card {
    position: relative;
    z-index: 9;
    padding: 1em;
    font-size: 140%;
    max-width: 800px;
    min-height: 135px;
    background: white;
    box-shadow: rgba(0, 0, 0, .05) 0 3px 15px;

}

.project__list .card .move_block {
    position: absolute;
    bottom: -3px;
    right: 0;
}

.project__list .card .move_block span {
    padding: 5px;
    cursor: move;
}

.project__list .project__list_item {
    border: 2px solid #dedede;
}

.project__list .project__list_item.over {
    border: 2px dashed #000;
}


.project__list .card .title {
    color: black;
    font-size: 110%;
    margin-bottom: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.project__list .card .task__list {
    margin: 0;
    padding: 0;
}

.project__list .card .task__list li {
    list-style-type: none;
    width: 100%;
    font-size: 80%;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 5px 0;
}

.project__list .card .dropdown {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
}

.project__list .card .count_task {
    position: absolute;
    top: -12px;
    right: -10px;
    padding: 0px;
}

.project__list .card .count_task span {
    background: #ababab;
    border-radius: 100%;
    color: #fff;
    width: 25px;
    height: 26px;
    display: block;
    text-align: center;
}


.dropdown {

}

.dropdown a {
    display: block;
    padding: .5em;
    color: #000;
    text-decoration: none;
}

.fa {
    float: right
}

.dropdown ul {
    z-index: 10;
    display: none;
    border: .1em solid #c0cdd1;
    position: absolute;
    background: #fff;
    width: 150px;
    top: 40px;
    right: 25px;
    padding: 0;
    margin: 0;
}

.dropdown .current {
    display: block;
}

.dropdown li {
    width: 100%;
    padding: .5em;
    cursor: pointer;
    margin: 0;
}


.dropdown li:not(:first-child) {
    border-top: .1em dashed #dde4e6;
}

.dropdown li:last-child {
    color: #ad0000;
}

.dropdown li:focus,
.dropdown li:hover {
    background: #ecf0f1;
    width: 100%;
}

.dropdown li:active {
    background: #fbfcfc;
}


.selected-dad {
    opacity: 0.6;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-group {
    margin-bottom: 1rem;
}

.task-add {
    display: inline-block;
    width: 70%;
}

.task-add-btn {
    display: inline-block;
    padding: 5px;
}

.label-block{
    display: block;
}
.group-btn-footer{
    margin-top: 30px;
}

.task_list{
    margin: 0;
    padding: 0;
}

.task_list li{
    margin: 0;
    list-style-type: none;
    background: #dedede;
    padding: 15px;
    border-bottom: 1px solid #6f6f6f;

}

.task_list li .over {
    border: 2px dashed #000;
}


.task_list .close div{
    display: inline-block;
    cursor: pointer;
}

.task_list li .container {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
    display: inline-block;
}

.task_list li {
    position: relative;
}
.task_list li .move_block {
    position: absolute;
    bottom: -4px;
    right: -4px;
}

.task_list li .move_block span {
    padding: 5px;
    cursor: move;
}


.check-with-label:checked + span {
    text-decoration: line-through;
    text-decoration-color: green;
}